/* Idiomatic Styling Guide */
/* element / selector {
     any child-specific properties:
        grid-column;
        grid-row;
        grid-area;
     any overriding properties;
        justify-self;
        align-self;
     box-size-properties:
       height;
       width;
       border;
       margin;
       padding;
     position:
       top,
       left,
       bottom,
       right;
       position-specific properties;
     display;
     relevant-display-properties:;
       if grid- or flex-container, any parent properties:
         grid-template-columns;
         grid-template-rows;
         grid-gap;
         grid-areas;
        or
         flex-direction;
         flex-wrap;
         justify-content / items;
         align-content / items;
     box-background-styling (abc order)
       background color/image;
       blend modes;
     text properties (abc order);
   }*/

body {
  box-sizing: border-box;
}

.container-box {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
}

/* Styling for header section where user creates task */

.text-and-save {
  display: flex;
  flex-direction: column;
  height: 160px;
  justify-content: space-around;
}

.top-box {
  height: 300px;
  margin: 0;
  background-color: #cee6ff;
  text-align: center;
}

.logo {
  display: inline-block;
  color: #4d4dff;
}

span {
  color: #6d6e71;
}

.title-input {
  height: 30px;
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body-input {
  height: 30px;
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 7px;
}

input {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

.save-btn {
  align-self: center;
  height: 30px;
  width: 45.5%;
  border: none;
  background-color: #4d4dff;
  color: #fff;
  font-size: 120%;
  outline: none;
}

.save-btn:hover {
  background-color: #0000b3;
}

/* Styling for application section where tasks populate */

.quality {
  display: inline;
  margin: 0;
  width: 250px;
}

.search-input {
  height: 30px;
  margin-top: 50px;
  width: 45%;
}

.card-container {
  width: 45%;
  margin: auto;
  position: relative;
}

.title-of-card {
  display: inline-block;
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-size: 140%;
}

h2 {
  display: inline-block;
  color: #6d6e71;
  font-family: 'Roboto Slab', serif;
  font-size: 150%;
}

p {
  color: #939598;
  font-family: 'Open Sans', sans-serif;
}

.body-of-card {
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

button {
  border: none;
  background-color: transparent;
  height: 28px;
  outline: none;
  width: 28px;
}

.upvote {
 /* height: 20px;
  width: 20px;*/
  margin-right: 5px;
  background-image: url(images/upvote.svg);
  background-size: cover;
}

.upvote:hover {
  background-color: transparent;
  background-image: url(images/upvote-hover.svg);
  background-size: cover;
}

.downvote {
  /*height: 20px;
  width: 20px;*/
  margin-right: 5px;
  background-image: url(images/downvote.svg);
  background-size: cover;
}

.downvote:hover {
  background-image: url(images/downvote-hover.svg);
  background-size: cover;
}

.delete-button {
  /*height: 20px;
  width: 20px;*/
  position: absolute;
  top: 15px;
  right: 0px;
  background-image: url(images/delete.svg);
  background-size: cover;
}

.delete-button:hover {
  background-image: url(images/delete-hover.svg);
  background-size: cover;
}

@media(max-width: 640px){

  .card-container {
    width: 85%;
  }

  .search-input {
    border: solid #999 1px;
  }
}

